.App {
  font-family: sans-serif;
  /* margin:2% 30% */
}

/* .button{
  padding: 20px;
  background: rgb(68, 219, 164);
  width:100px;
  border-radius: 10px;
  color:white;
}

.labels{
  margin:10px 10px 10px 0px;
}

input{
  padding:10px;
}

label{
  font-size: large;
} */